.navbar {
	position: sticky;
	top: 0px;
	height: 70px;
	background-color: black;
	opacity: 0.75;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 30px 0px 30px;
	margin-bottom: -70px;
	z-index: 5;
}

.navbar__logo {
	color: rgb(68,235,153);
	font-size: 4.5rem;
}

.navbar__list {
	display: flex;
	list-style: none;
}

.navbar__item {
	white-space: nowrap;
}

.navbar__link {
	text-decoration: none;
	font-size: 2rem;
	color: white;
	text-align: center;
	padding: 10px;
	margin: 0px 5px;
	border-style: solid;
	border-color: transparent;
	transition: 250ms;
}

.navbar__link:hover {
	border-color: white;
}

.navbar__menu {
	color: white;
	cursor: pointer;
	display: none;
}

@media screen and (max-width: 800px){
	.navbar__menu {
		display: block;
	}
	.navbar__logo {
		font-size: 2rem;
	}
}
